.hidden{
    display: none;
}

.status_text{
    font-size: 4vw;
    color: red;
}

.status{
    margin-top: 5vh;
    text-align: center;
}

.ans_rate{
    font-size: 6vw;
    color: rgb(20, 74, 57);
}

.answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: auto;
    margin: 0 auto;
}


.ansBtn{
    font-size: 4vw;
    padding: 1vw;
    width: 60vw;
    border: 0.5vw dashed brown;
    border-radius: 2vw;
    background-color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: auto;
    overflow: hidden;
    white-space: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: azure;
}

.topic_text{
    font-size: 6vw;
    margin-bottom: 10vh;
    font-weight: bold;
    color: rgb(116, 51, 51);
}
